[data-theme="light"] h1,
[data-theme="light"] span,
[data-theme="light"] li {
  color: #000000;
}

[data-theme="dark"] h1,
[data-theme="dark"] span,
[data-theme="dark"] li {
  color: #ffffff;
}

button,
.btn {
  cursor: pointer;
}
